<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<header th:fragment="header">
    <table width="100%">
        <tr style="background-color: #c5e7f0;">
            <td><strong>My Webshop</strong></td>
            <td align="right">
                <a href="/dashboard/dashboard.html">Dashboard</a>  |
                <a href="/mvc-api/product">Catalog</a>  |
                <a href="/create/product.html">Create Product</a>  |
                <a href="/mvc-api/product/cart">Shopping Cart</a>
            </td>
        </tr>
    </table>
</header>
</body>
</html>