<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Catalog</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>
<br>

<h3>Browse our <span th:text="${productCatalogDTO.stock}"></span> products</h3>

<p>
    <a href="/mvc-api/product?edit=true">Edit Mode ON</a> |
    <a href="/mvc-api/product?edit=false">Edit Mode OFF</a>
</p>

<div class="filter-buttons">
    <a href="/mvc-api/product">All</a>
    <a href="/mvc-api/product/color?color=Black">Black</a>
    <a href="/mvc-api/product/color?color=Red">Red</a>
    <a href="/mvc-api/product/color?color=Blue">Blue</a>
</div>

<table border="1" width="100%" cellpadding="5">
    <tr>
        <th>Name</th>
        <th>Color</th>
        <th>Size</th>
        <th>Price</th>
        <th>Link</th>

        <th th:if="${editMode}">Delete</th>
    </tr>

    <tr th:each="p : ${productCatalogDTO.product}">
        <td th:text="${p.name}"></td>
        <td th:text="${p.color}"></td>
        <td th:text="${p.size}"></td>
        <td th:text="${p.price}"></td>

        <td>
            <a th:href="@{'/mvc-api/product/' + ${p.id}}">Details</a>
        </td>

        <td th:if="${editMode}">
            <a th:href="@{'/mvc-api/product/delete/' + ${p.id}}">Delete</a>
        </td>
    </tr>
</table>

</body>
</html>
