<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Detail</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<h3>Product: <span th:text="'Product: ' + ${productDetailDTO.product.name}"></span></h3>

<p>Size: <span th:text="${productDetailDTO.product.size}"></span></p>
<p>Color: <span th:text="${productDetailDTO.product.color}"></span></p>
<p>Price: <span th:text="${productDetailDTO.product.price}"></span></p>

<p>
    Stock:
    <span th:if="${!productDetailDTO.isSoldOut}"
          th:text="${productDetailDTO.stock}"></span>
    <span th:if="${productDetailDTO.isSoldOut}"
          style="color:red;font-weight:bold;">Sold Out</span>
</p>

<a th:unless="${productDetailDTO.isSoldOut}"
   th:href="@{/mvc-api/product/addcart/{id}(id=${productDetailDTO.product.id})}">
    <button>Add to Cart</button>
</a>

</body>
</html>
