<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Product Detail</title>
</head>
<body>

<header th:replace="fragments/header :: header"></header>

<h3>Product: <span th:text="'Product: ' + ${productDetailDTO.product.name}"></span></h3>

<p>Size: <span th:text="${productDetailDTO.product.size}"></span></p>
<p>Color: <span th:text="${productDetailDTO.product.color}"></span></p>
<p>Price: <span th:text="${productDetailDTO.product.price}"></span></p>
<p>Stock: <span th:text="${productDetailDTO.stock}"></span></p>

<div th:if="${productDetailDTO.isSoldOut}">
    <strong style="color:red;">Sold Out!</strong>
</div>

<div th:if="${!productDetailDTO.isSoldOut}">
    <a th:href="@{'/mvc-api/product/addcart/' + ${productDetailDTO.product.id}}">Add to Cart</a>
</div>

</body>
</html>
